body {
  background: linear-gradient(135deg, #F9D976 22.92%, #E899DC 100%);
  background-size: 400% 400%;
  animation: boxColor 60s ease-out infinite;
  margin: 0;
}

h1 {
  color: white;
  text-align: center;
  font-family: 'Allura', cursive;
  font-size: 64px;
  margin-bottom: 1em;
}

.background {
  max-width: 90vw;
  height: 80vh;
  margin: 0 auto;
  position: relative;
}

.date {
  color: white;
  font-size: 28px;
  font-family: arial;
  line-height: 1.3;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border: white solid 2px;
  white-space: pre-wrap;
}

.date:hover {
  font-size: 14px;
  transform: scale(1.5);
  cursor: pointer;
}

/** go to inspect for the gradient code for the percentages of the color */

.date1 {
  background: linear-gradient(135deg, #F9D976, #FBA8A4);
}

.date2 {
  background: linear-gradient(65deg, #F9D976 0%, #FCE043 50%, #FB7BA2 100%);
}

.date3 {
  background: linear-gradient(135deg, #F9D976 22.92%, #E899DC 100%);
  border-radius: 50%;
}

.date4 {
  background: linear-gradient(120deg, #FB7BA2 0%, #E899DC 100%);
  border-radius: 50%;
}

.date5 {
  background: linear-gradient(65deg, #F9D976 0%, #FCE043 50%, #FB7BA2 100%);
  border-radius: 50%;
}

.date6 {
  background: linear-gradient(120deg, #FB7BA2 0%, #E899DC 100%);
}

.date7 {
  background: linear-gradient(120deg, #FB7BA2 0%, #E899DC 100%);
}

.date8 {
  background: linear-gradient(120deg, #FB7BA2 0%, #E899DC 100%);
}

.button {
  color: white;
  border: white solid 2px;
  font-size: 28px;
  font-family: arial;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  left: 1300px;
  top: 550px;
}

.button:hover {
  transform: scale(1.03);
  cursor: pointer;
}

@keyframes boxColor {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}