body {
  margin: 0 auto;
}

/* Introduction Styling */
.introduction {
  background-color: black;
  width: 100%;
  height: 100vh;
}

.introduction a {
  text-decoration: none;
  color: white;
  display: block;
  margin-bottom: 10vh;
}

.introduction a:hover {
  cursor: pointer;
  text-decoration: none;
}

.intro-q-1 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: left;
}

.intro-q-2 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: right;
}

.intro-q-3 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 20px;
  text-align: left;
}

.intro-q-4 {
  font-family: 'Shadows Into Light', cursive;
  font-size: 30px;
  text-align: right;
}

.intro-q-5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 30px;
  text-align: left;
}

.intro-q-6 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-align: right;
}

.intro-q-7 {
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  text-align: left;
}

/*** Wrapper Styling ***/
.wrapper {
  vertical-align: center;
  margin: 0 auto;
  width: 70%;
  background-color: white;
}


/* Heading Content Styling */
.heading {
  font-weight: bold;
}

.heading-1 {
  text-align: center;
  margin: 5vh auto;
  font-size: 60px;
}

.heading-2 {
  font-size: 36px;
}

.heading-3 {
  font-size: 48px;
}

/* Main Content Styling */
main {
  margin: 6vh auto;
}

/* Question Div Styling */
.qa-content {
  margin: 4vh 0;
}

.qa-question {
  font-size: 24px;
}

.qa-answer {
  font-size: 20px;
}

/* Footer Content Styling */
footer {
  background-color: black;
  padding: 50px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid;
}