body {
  margin: 0 auto;
}

/* Introduction Styling */
.introduction {
  background-color: black;
  width: 100%;
  padding: 1px 0;
  height: 200vh;
}

.introduction a {
  text-decoration: none;
  color: white;
  display: block;
  margin: 20vh auto;
}

.introduction a:hover {
  cursor: pointer;
  text-decoration: none;
}

.intro-q-1 {
  margin-top: 0vh;
  font-size: 20px;
  text-align: left;
}

.intro-q-2 {
  font-size: 20px;
  text-align: right;
}

.intro-q-3 {
  font-size: 20px;
  text-align: left;
}

.intro-q-4 {
  font-size: 30px;
  text-align: right;
}

.intro-q-5 {
  font-size: 30px;
  text-align: left;
}

.intro-q-6 {
  font-size: 30px;
  text-align: right;
}

.intro-q-7 {
  font-size: 40px;
  text-align: left;
}

.intro-q-8 {
  font-size: 40px;
  text-align: right;
}

.intro-q-9 {
  font-size: 40px;
  text-align: center;
}

/*** Wrapper Styling ***/
.wrapper {
  vertical-align: center;
  margin: 0 auto;
  width: 70%;
}


/* Heading Content Styling */
.heading {

}

#heading-1 {
  text-align: center;
  margin: 5vh auto;
}

#heading-2 {

}

#heading-3 {

}


/* Main Content Styling */
main {
  margin: 3vh auto;
}

/* Question Div Styling */
.qa-content {
  margin: 3vh 0;
}

.qa-question {

}

.qa-answer {

}

#qa-1 {

}

#qa-2 {
  
}

#qa-3 {
  
}

/* Footer Content Styling */
footer {
  background-color: black;
  padding: 50px;
  text-align: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer a:hover {
  border-bottom: 1px solid;
}