body {
  margin: 0;
}

.iphone {
  background-color:#F2F3F5;
  padding: 10px;
  width: auto;
  display: flex;
}

.app {
  width: 55px;
  height: 55px;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.current {
  border: #D3D3D3 solid 3px;
}

h1 {
  font-family: "Allura", cursive;
  font-size: 72px;
  margin: 10px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 50px;
}

.profile {
  border-radius: 50%;
}

.info {
  font-family: arial;
  margin-left: 50px;
}

.username {
  color: #818589;
  font-size: 28px;
  margin-bottom: 0px;
}

.name {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.bio {
  font-size: 20px;
  margin-top: 0px;
}

.content {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #dbdbdb;
}

.content-image {
  height: 500px;
  width: 500px;
}

.comments {
  display: flex;
  flex-direction: column;
}

.comment {
  display: flex;
  margin-left: 60px;
  margin-bottom: 50px;
  width: auto;
}

.content-profile {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.description {
  font-family: arial;
  margin-left: 20px;
}

.description p {
  margin: 7px 0;
}