body {
  margin: 0;
}

.iphone {
  background-color:#F2F3F5;
  padding: 10px;
  width: auto;
  display: flex;
}

.app {
  width: 55px;
  height: 55px;
  margin-left: 30px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.current {
  border: #D3D3D3 solid 3px;
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 50vw;
}

h1 {
  text-align: center;
  font-family: arial;
  font-size: 60px;
  margin: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: 1px solid #dbdbdb;
  margin-bottom: 50px;
}

.header p {
  font-family: arial;
  font-size: 16px;
}

.content {
  margin-bottom: 50px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 30px;
}

.photo {
  border: 2px solid #dbdbdb;
}

.photo > img {
  object-fit: cover;
  width: 100%;
}

.photo img {
  height: 80%;
}

.photo:hover {
  transform: scale(1.01);
  cursor: pointer;
}

.photo p {
  font-family: arial;
  font-size: 16px;
  text-align: center;
}